.DS_Store
._.DS_Store
*.pyc
.Rhistory
__pycache__
.vscode
slurm-*.out
.idea
.vstags
.smbdelete*
.ipynb_checkpoints
*.swp
.cache

/data/derived/simulations.*/05.phenotype/*/
/data/derived/simulations.*/06.hsq/*/
permutations*/
genesis*/
/data/derived/test/*/
!/data/derived/test/0[0-1]*
/bin
!/bin/{myplink,mygcta}
